body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFA500;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.navbar {
    background-color: #ff9100da;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}